<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Micro-Proyecto 1, Alejandro Morabito</title>
</head>
<body>
  <div>
    <center><h1>Bingo</h1>
      <div class="score-containaer">
        / Score player 1 : <span id="score-p1">0</span>
        / Score player 2 : <span id="score-p2">0</span>
        / Score player 3 : <span id="score-p3">0</span>
        / Score player 4 : <span id="score-p4">0</span>
      </div>
      <div>
        <h2>Jugadores</h2>
        <form @submit.prevent="iniciarJuego">
          <label for="jugador1">Nombre Jugador 1:</label>
          <input type="text" id="jugador1" v-model="jugadores[0].nombre">
          
          <label for="jugador2">Nombre Jugador 2:</label>
          <input type="text" id="jugador2" v-model="jugadores[1].nombre">
          
          <label for="jugador3">Nombre Jugador 3:</label>
          <input type="text" id="jugador1" v-model="jugadores[2].nombre">
          
          <label for="jugador4">Nombre Jugador 4:</label>
          <input type="text" id="jugador1" v-model="jugadores[3].nombre">
        </div>
        <br>
    <p class="pdrawBall" id="pdrawBall"></p>
    ¿Cuantas cartones de bingo?: <input type="text" id="txtInput" placeholder="Ingresa numero de cartones">
    <select id="tamanio" v-model="tamanio">
      <option value="3">5x5</option>
      <option value="4">4x4</option>
      <option value="5">3x3</option>
    </select>
    <button id="btnDraw" onclick="draw()"> Mostrar cartones </button>
    <button id="btnDrawBall" onclick="drawBall()">Obtener bola</button>
    <button onclick="clearCards()">Borrar</button>
  </center>
  </div>
      <p id="pCount">Número de cartones: 0</p>
      <br>
      <div id = "divBingoCard"></div>
  <script src="script.js"></script>

</body>
</html>